/* CSS Document */
body{
	color: black;
	background-color: darkcyan;
	font-family: monospace;
	text-align: center;
	
}
.todos-card {
	background-color: darkgray;
	width: 75%;
	border-radius: 15px;
	padding: 10px;
	position: relative;
	top: 10%;
	left: 15%;
}
#txtTodo {
	width: 100%;
	height:30px;
	border-radius: 10px;
	background-color: darkgray;
	color:mediumblue;
	font-size: 25px;
	text-align: center;
	font-family: Cambria, monospace;
}

.date-input {
	width:80px;
	height:30px;
	margin-left: 5px;
	margin-top: 30px;
	border-radius: 10px;
	background-color: darkgray;
	color:mediumblue;
	font-size: 17px;
	text-align: center;
	font-family: Cambria, monospace;
	cursor: pointer;
}

.time-input {
	width:130px;
	height:30px;
	margin-left: 5px;
	border-radius: 10px;
	background-color: darkgray;
	color:mediumblue;
	font-size: 20px;
	text-align: center;
	font-family: Cambria, monospace;
	cursor: pointer;
}

.button-submit {
	width: 90px;
	height: 40px;
	text-align: center;
	border-radius: 10px;
	font-family: monospace;
	font-size: 25px;
	background-color:lightcoral;
	color: yellow;
	margin-left: 5px;
	cursor: pointer;
	transition: padding 0.4s ease-in-out;;
}
.button-submit:hover {
	padding-left: 2%;
}

h1 {
	margin-top: 50px;
}

.todo-container{
	list-style: none;
	text-align:left;
	margin-left: 50px;
	margin-right: 50px;

}
.done-button {
	float: right;
	height: 30px;
	background-color: greenyellow;
	border-radius: 10px;
	clear: both;
	padding: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.done-button:hover{
	background-color: green;
}
.edit-button {
	float: left;
	height: 30px;
	background-color: coral;
	border-radius: 10px;
	clear: both;
	padding: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.edit-button:hover{
	background-color: purple;
	color: gray;
}

.todo-item {
	background-color:gray;
	font-family: monospace;
	font-size: 20px;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
.table-todos {
	width: 100%;
	margin-top: 2rem;
}

.table-todos {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}

.table-todos th,
.table-todos td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.table-todos th {
	border-top: none;
}
.time-label {

}
@media (max-width: 650px) {
	.time-input {
		width: 100%;
		margin-top: 1%;
		margin-bottom: 2%;
	}
	.button-submit {
		margin-top: 1%;
		width: 100%;
	}

	.button-submit:hover{
		padding-left: 7%;
	}
	.todos-card{
		left: 3%;
		width: 95%;
	}
}